Hi there,
<br/>
Here's your log in to <a href="htt://tomorrowit.com/">TomorrowIt.com</a>.<br/>
<br/>
Username: <%=h @user.login %><br/>
Password: <%=h @user.password %><br/>
<br/>
<br/>
Visit this url to start tomorrowing your day:<br/>
<br/>
<a href="htt://tomorrowit.com/">http://tomorrowit.com</a><br/>
<br/>
Thanks!<br/>
<br/>
Alex Le