Hi there,
<br/>
Your <a href="htt://tomorrowit.com/">TomorrowIt.com</a> account has been created.  Here's the login information<br/>
<br/>
Username: <%=h @user.login %><br/>
Password: <%=h @user.password %><br/>
<br/>
<br/>
Visit this url to start tomorrowing your day:<br/>
<br/>
<a href="htt://tomorrowit.com/">http://tomorrowit.com</a><br/>
<br/>
Thanks!<br/>
<br/>
Alex Le