<div id="main_content_padding" style='padding: 50px 30px;'>

  <div class='page_title'>
    <div style='float:left'>
      About
    </div>
    
    <div style='float:right; font-size: 14px;' >
      <a href="/" class='colored'>go back</a>
    </div>
    <div style='clear:both'></div>
  </div>

  <div>
    TomorrowIt.com is developed by <a href="http://alexle.net">Alex Le</a> as utility for personal use.  The idea is not new, but it is useful for anyone to plan ahead of his or her day.<br/>
    <br/>
    The design goal of TomorrowIt.com is to keep everything as simple as possible.  The lack of features is a feature itself.  Most of the time, I just want to be able to write down and track what I need to do with minimal steps, and TomorrowIt.com is built around this simplicty.<br/>
    <br/>
    If you like it, great!  It's free, so go head and tell your friends about it too.  Ideas and suggestions please send to alexnhatle at yahoo.com.
    <br/>
    <br/>
    Thanks for tomorrowing your day with tomorrowit.com
    <br/>
    <br/>
    Alex
  </div>

  
</div>