<div id="main_content_padding" style='padding: 50px 30px;'>

  <div class='page_title'>
    <div style='float:left'>
      help
    </div>
    
    <div style='float:right; font-size: 14px;' >
      <a href="/" class='colored'>go back</a>
    </div>
    <div style='clear:both'></div>
  </div>

  <div>
    Type in the box to start tracking your day.  By default, the task is added to your tomorrow's list.  You can easily move it back to today, or just mark it done. Done tasks are hidden from you so you won't have to bother with it.<br/>
    <br/>
    Once you are logged in, the site will stay logged in until you decide to logged out.  I want to keep the list person and stay with me all the time, logging in and out constantly is just plain pain-in-the-butt.<br/>
    <br/>
    If you add a task when you are not signed in, as long as you stay in the same browser (and don't clear the cookies), the next time you sign in, the task will automatically be added to your list.<br/>
    <br/>
  </div>
  <br/>
  <br/>
  <br/>
  <div>
    <div class='page_title'>
      sharing calendar
    </div>
    <div>
      Once signed up, you have a personal iCal URL that you can use to add TomorrowIt.com tasks to your calendar clients.<br/>
      <br/>
      Here are some links to show you how to subsribe to an iCal feed<br/>
      <br/>
      <b><a href="http://www.tuaw.com/2006/04/13/howto-subscribe-to-a-google-calendar-using-ical/" target="_blank">Subscribe to a Coogle Calendar using iCal</a></b><br/>
      (instead of using the Google's public feed URL, use your own tomorrowit.com's ical URL )
      <br/>
      <br/>
      <b><a href="http://www.googletutor.com/2007/01/24/syncing-google-calendar-with-ical/" target="_blank">Syncing Google Calendar with Ical</a></b><br/>      
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <div>
    <div class='page_title'>
      your data & privacy
    </div>
    <div>
      <b>TomorrowIt.com</b> is designed with "just enough" security in mind.  It does not force you to log-in when you don't have to.  It tends to remember your things through cookies (it's favorite is still Oreo Cookies though).  Go ahead, add a task anytime.  The next time you log-in, the task will be there for you.<br/>
      <br/>
      Your data is backed-up daily, with 3 trailing days.  In case something happens, your data will still be there.  Your data is in good hands.
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <div>
    <div class='page_title'>
      still confused or puzzled?
    </div>
    <div>
      Drop me an email at alexnhatle ~at~ yahoo.com.  Your suggestions are welcomed<br/>
      <br/>
    </div>
  </div>


</div>