<div id="main_content_padding" style='padding: 50px 30px;'>

  <div class='page_title'>
    <div style='float:left'>
      help
    </div>
    
    <div style='float:right; font-size: 14px;' >
      <a href="/" class='colored'>go back</a>
    </div>
    <div style='clear:both'></div>
  </div>

  <div>
    Under-construction
  </div>

</div>