
<div style="padding: 5px;">
  <span id="tomorrow_it">tomorrow it</span> 
  <span id="subtag">  start your tomorrow today</span>

</div>

<div>
  Tomorrow It is based on a simple idea: prepare yourself for tomorrow.  Basically, it's a quick written pad for things to do for tomorrow.
  <br/>
  <br/>
  <ul>
    <li>Sign up is painless
    <li>5 minutes to think, 5 seconds to write down</li>
    <li>synchronize with Outlook thru iCal</li>
    <li>iPhone friendly</li>
  </ul>
</div>





start your tomorrow today

