<ul title="Home" selected="true">
    <li><%= link_to 'home', '/' %></li>
    <li><%= link_to 'login', '/sessions/new' %></li>
    <li><%= link_to 'Logout', '/', :method => :delete, :target => '_self' %></li>
</ul>
