body
{margin: 0; padding: 0; background-color: white; text-align: center; color: #535353}

#page_container
{ width: 100%; }

#top_menu_container
{ }
	#top_menu
	{margin: auto; text-align: right; width: 980px; }	


	#center_container
	{ margin: auto; }
		#center_padding
		{ width: 980px; margin: auto; text-align: left; width: 980px}
	

#content_container
{ width: 980px;}
	#content_padding
	{ padding: 0 0px 5px 0px;}
	
	#main_content_container
	{ background-color: #efeeef; margin-top: 1px; padding: 10px;}
	  #main_content_padding
	  { background-color: white;}
	  
#user_greetings
{ text-align: right; }
	#user_greetings_padding
	{ padding: 5px; }	

#main_menu_container
{ }
	#main_menu
	{ width: 100%; }
		#main_menu ul
		{ padding-left: 0; margin-left: 10px; }
			#main_menu ul li
			{ display: inline; float: left; padding-right: 3px;}
			#main_menu ul li a
			{ text-decoration: none; display: block; padding: 5px 10px 5px 10px; color: #bfbfbf; font-size: 18px; }
			#main_menu ul li a:hover
			{ color: #cb67da; }
			#main_menu ul li a.current
			{ background: #ac38bd url('../images/v1/main_navigation_button_bg.png') repeat-x top left; color: white; }

	
	#main_menu_divider
	{ width: 100%; height: 5px; line-height: 5px; background: url('../images/v1/main_navigation_divider.png') repeat-x top left;}
	
	.bar_divider
	{ width: 100%; height: 5px; line-height: 5px; background: url('../images/v1/main_navigation_divider.png') repeat-x top left;}
	
	#submenu
	{background: #dddddd url('../images/v1/main_nav_sub_menu_bg.png') repeat-x top left; border-top: 2px solid #d4cfd5; min-height:42px; }
		#submenu_padding
		{padding: 0px;}
			#submenu_padding ul
			{ padding-left: 0; margin-left: 10px; }
				#submenu_padding ul li
				{ display: inline; float: left; padding-right: 3px;}
				#submenu_padding ul li a
				{ text-decoration: none; display: block; padding: 13px 30px 13px 18px; color: #858585; font-size: 14px; font-weight: bold;  }
				#submenu_padding ul li a:hover, #submenu_padding ul li a.current
				{ background: url( '../images/v1/icons/dot.png' ) no-repeat 0% 50%; color: #b140c3; font-weight: bold; }
		
		
	
#footer
{ background: #f7d1fd url('../images/footer_bg.png') repeat-x top left; text-align: center; height: 70px; clear: both; }
	#footer_padding
	{ padding: 10px; }
		

.ul_form
{ }
  .ul_form li
  { clear: both;}
  .ul_form li label
  { font-weight: bold;}
  .ul_form li span
  {  float: left; padding-right: 5px; }
  .ul_form li span label
  {  clear: both; font-size: 9px; display: block; }




