body
{margin: 0; padding: 0; background-color: white; text-align: center; color: #535353}

#page_container
{ width: 100%; }

#top_menu_container
{ }
	#top_menu
	{margin: auto; text-align: right; width: 980px; }	


	#center_container
	{ margin: auto; }
		#center_padding
		{ width: 980px; margin: auto; text-align: left; width: 980px}
	

#content_container
{ width: 980px;}
	#content_padding
	{ padding: 0 0px 5px 0px;}
	
	#main_content_container
	{ background-color: #efeeef; padding: 10px;}
	  #main_content_padding
	  { background-color: white;}
	  
#user_greetings
{ text-align: right; }
	#user_greetings_padding
	{ padding: 5px; }	

#main_menu_container
{ }

.ul_form
{ }
  .ul_form li
  { clear: both;}
  .ul_form li label
  { font-weight: bold;}
  .ul_form li span
  {  float: left; padding-right: 5px; }
  .ul_form li span label
  {  clear: both; font-size: 9px; display: block; }



#footer_wrapper
{ text-align: left; padding-left: 10px; margin-top: 35px; padding-bottom: 30px;}
