.floatClear:after { clear:both; content:"."; display:block; height:0pt; visibility:hidden; }

.fieldWithErrors
{ border: 1px solid red; }

a
{ text-decoration: none; color: #6f007f; }
a:hover
{ color: #0077A4; }

h1
{ font-size: 14px; font-weight: bold; }
h2.milestone_title
{ font-size: 14px; font-weight: bold; }
h3
{ font-size: 18px; }


/* The big buttons to link */
.big_link_button
{ font-weight: bold; font-size: 16px; display: block; text-align: center; }

.big_link
{ font-weight: bold; font-size: 14px; }

/* Form Elements */
input
{ padding: 3px; }
input.large
{ font-size: 14px; font-weight: bold; background-color: white;}
input.long
{ width: 450px; }
.field_sample
{ font-size: 10px;}


#page_form
{ background-color: #FFF1AF; padding: 5px 10px 5px 10px; border-bottom: 2px solid #FFF9DF;}

.page_form_hide
{ display: none;}

/* Auto-Complete */
/* http://wiki.script.aculo.us/scriptaculous/show/Ajax.Autocompleter */
div.autocomplete 
{ position:absolute; width:250px; background-color:white; border:1px solid #888;margin:0px; padding:0px;}
div.autocomplete ul 
{ list-style-type:none; margin:0px; padding:0px; }
div.autocomplete ul li.selected 
{ background-color: #ffb;}
div.autocomplete ul li 
{ list-style-type:none; display:block;margin:0; padding:2px; height:32px; cursor:pointer; }

/* Ajax Control Style */ 
/* when an Ajax request from a checkbox errors out */
.ajax_error 
{ border: 2px solid red; background-color: red; color: red;}

/* Section */
.section_container
{ padding: 10px 10px; }
  .with_separator
  { border-bottom: 1px solid #d4d4d4 }
  .with_light_separator
  { border-bottom: 1px solid #eeeeee;}
  
  .section_content
  { padding: 0 0 0 10px; clear: both;}
  .section_title, .milestone_section_title
  { color: white; font-size: 14px; font-weight: bold; padding: 5px 0px 3px 5px; }
  .milestone_section_title a
  { text-decoration: none; color: white; }
  .milestone_section_title a:hover
  { color: #fffd39;}
  .section_title
  { background: url('../images/section_title_bg.gif') repeat-x top left; }
  .milestone_section_title
  {background: url('../images/milestone_section_title_bg.gif') repeat-x top left; }


/* Todo page */
/* OLD 
.todo_list_title
{ font-weight: bold; }
ul.todo
{padding-left: 20px; }
.completed_todo_entry
{ color: #AFAFAF; font-size: 10px; }

.late .todo_title
{background-color: #ffdef2; color: red; font-weight: bold;}

.todo_entry
{ padding: 5px 3px 5px 3px; position: relative; clear: both;}
-- END OLD */

.date_wrapper { margin-bottom: 20px; }
  .date_header_wrapper{}
    .date_header_day_of_week
    { font-size: 14px; font-weight: bold; }
    .date_header_date
    { font-size: 10px; padding: 3px; margin-left: 10px;}

    .weekend
    { background-color: #EFEFEF; }
    
    .today
    { background-color: white;}
/* List Page */
.list_container
{ margin-bottom: 25px; }
  .title
  { font-size: 18px; color: #B140C3; padding-bottom: 3px; }
  .list_description
  { font-size: 11px; padding-top: 5px; }
  .list_items
  { margin-top: 10px;}
    .list_item_container, .list_actions_container, .lists_no_item
    { margin-left: 15px; padding: 7px; }
    .list_actions_container .horizontal_list a, .list_actions_container .horizontal_list a:visited
    { display: block; padding: 5px 10px; border: 1px solid #EEEEEE; font-size: 12px; font-weight: bold; color: #535353; }
    .list_actions_container .horizontal_list a:hover
    { background-color: #EEEEEE;}
    

/* seating Arrangement */
#guests_list_container
{ width: 210px; float: left;}

  #guests_list_quick_search
  { border: 1px solid #D4CFD5; border-bottom: 0px;}
    #guests_list_quick_search li
    { padding: 1px; }
    #guests_list_search_results_container
    { overflow-y: auto; height:420px; width: 210px; float: left;}
    
    
  #guests_list_content_container
  { overflow: hidden; position: relative; width: 210px; height: 420px; border: 1px solid #D4CFD5; }
    #guests_list_content
    { position: absolute; width: 999px; }
    
      #guests_container
      { height: 418px; border-top: 2px solid #D4CFD5; width: 210px; float:left; }      
        #alphabets_grouping_container
        { width: 50px;}
        #alphabets_grouping_container ul a
        { display: block; padding: 5px 5px; text-align: right; font-size: 14px; font-weight: bold; color: #cb67da; }
        #alphabets_grouping_container li
        { margin-bottom: 3px;}        
        #alphabets_grouping_container ul a:hover, #alphabets_grouping_container ul a.current
        { background: #cb67da url( '../images/v1/guest_alphabet_bg.png' ) repeat-x top left; color: #fffd43; }
        
        #guest_entries_container
        { border: 1px solid #D4CFD5; border-top: 0; width: 100%;}
          .guests_list_guest_entry
          { padding: 5px 5px; border-bottom: 1px solid #D4CFD5; }
          .guests_list_guest_entry_hover
          { background: #DDDDDD url( '../images/v1/main_nav_sub_menu_bg.png' ) repeat-x scroll left top;}
          
          .guests_list_guest_entry_table
          { font-size: 11px; text-align: right;}
    

#tables_container
{ margin-left: 10px; width: 715px; float: right;}
.draggable
{ cursor: move;}
.table_container
{ width: 200px; float: left; margin-top: 20px; margin-left: 20px;  }
.table_header
{ border-bottom: 2px solid #9F9F9F; }
  .table_title
  { float: left; width: 80%; font-weight: bold; font-size: 14px; padding-bottom: 5px}
  .table_count
  { float: right; width: 18%; text-align: right; }
  
  .table_seat
  { border-bottom: 1px solid #D4D4D4; clear: both; padding: 5px 0;}
  .table_seat_hover
  { background-color: #FFFBCF !important; }
  .table_seat ul li
  { padding: 5px 5px;}
    .table_seat_number
    { font-weight: bold; width: 15px; text-align: right; padding-right: 5px; float:left; width: 10%; }
    .table_seat_guest
    { padding-left: 5px; float: left; width: 70%; }
    .table_seat_guest_delete
    { float:right; width: 8%; }
  
  .extra_seat
  { color: red !important; }
  
.seating_dd_proxy
{ border: 2px solid #D4CFD5; width: 150px;; position: absolute; text-align: left; background-color: white; padding: 3px 3px; font-weight: bold; font-size: 11px; }

.context_menu
{ position: absolute; width: 150px; min-height: 100px;}
  .context_menu_top_border
  { background:transparent url(../images/v1/main_navigation_divider.png) repeat-x scroll left top; height:5px; line-height: 5px; width: 100%; }
  .context_menu_items_container
  { background-color: white; border: 2px solid #D4CFD5; }
    .context_menu_item
    { text-align: left; }
      .context_menu_item a
      { display: block; text-decoration: none; padding: 5px 10px; font-size: 11px; font-weight: bold; } 
      .context_menu_item a:hover
      { background-color: #FFFBCF;}
  
/* Shared Action Element */
.item_delete a, .item_delete a:hover
{ width: 8px; height: 9px; padding: 2px; display: block;  background: transparent url('../images/v1/icons/x.png') no-repeat 50% 50%; text-decoration: none; border: 1px solid transparent; }
.item_delete a:hover
{ background: url( '../images/v1/icons/x_hover.png' ) no-repeat 50% 50%;border: 1px solid #FEFEFE; }
.item_edit a, .item_edit a:hover
{ width: 10px; height: 10px; padding: 3px; display: block;  background: transparent url('../images/icons/pencil.gif') no-repeat 50% 50%; text-decoration: none; }


.zoom_icon
{ width: 11px; height: 11px; line-height: 11px; background: transparent url( '../images/icons/zoom.png' ) no-repeat top left; }

.p
{ padding-top: 10px; padding-bottom: 10px; }

/* shared elements */
.horizontal_list
{ padding: 0; margin: 0; }
	.horizontal_list li
	{ display: inline; float: left; }

  .page_actions_container
  { }
    .page_actions_container a, .page_actions_container a:visited
    { display: block; padding: 5px 10px; border: 1px solid #EEEEEE; font-size: 14px; font-weight: bold; color: #535353; }
    .page_actions_container a:hover, .page_actions_container a.current
    { background-color: #EEEEEE;}

a.push_button
{font-size: 12px; font-weight: bold; text-align: center; padding: 2px 10px; display:block}
a.push_button_on, a.push_button:hover
{ background-color: #EEEEEE;}

/* Nubbin stuff */
.nubbin_wrapper
{ background-color: #ECECEC; }
ul.nubbin_controls li
{ margin-right: 3px;}

/* Calendar */
.calendar_table
{ border: 0}
  .calendar_table td
  { border: 1px solid transparent;}
  .weekday_label
  { font-size: 14px; font-weight: bold;text-align: center; }
.calendar_day_table_cell
{ width: 30px;}
.calendar_row
{ }
  .calendar_row td
  { border-bottom: 1px solid #d4d4d4; }
  .calender_day_container a, .calender_day_container a:visited
  { text-align: center; font-size: 11px; border: 1px solid transparent; border-bottom: 3px solid transparent; display:block; margin: 5px 2px; padding: 3px 0;}
  .calender_day_container a:hover, a.has_items
  { border: 1px solid #d4d4d4; border-bottom: 3px solid #740085}
  
  
  
#tomorrow_it
{ font-size: 43px; color: #FF0071;}  
#subtag
{ font-size: 18px;}
