.floatClear:after { clear:both; content:"."; display:block; height:0pt; visibility:hidden; }

.fieldWithErrors input
{ border: 1px solid red !important; }

a
{ text-decoration: none; color: #6f007f; }
a:hover
{ color: #0077A4; }


.date_wrapper { margin-bottom: 20px; }
  .date_header_wrapper{}
    .date_header_day_of_week
    { font-size: 14px; font-weight: bold; }
    .date_header_date
    { font-size: 10px; padding: 3px; margin-left: 10px;}

    .weekend
    { background-color: #EFEFEF; }
    
    .today
    { background-color: white;}

  
#tomorrow_it
{ font-size: 43px; color: #FF0071;}  
#subtag
{ font-size: 18px;}

#login_form li
{ padding: 0 5px; }
  
.login_input
{ border: 0px; background-color: white; width: 80px; padding: 2px;  }

.big_label
{ font-size: 18px; color: #FF0071;}
.big_tag_line
{ font-size: 18px;}

#btnLogin:hover
{ background-color: #ff0071; }


input.front_new_item
{ font-size: 18px; width: 730px;background-color: transparent; border: 0px; }
input.item_description
{ border: 0px; font-size: 14px; width: 650px; background-color: #EFEEEF;  }

#signup_form_wrapper .textbox
{ border: 0px; background-color: #f4f4f4; width: 150px; padding: 5px; margin: 5px 0px; }

/* shared elements */
.horizontal_list
{ padding: 0; margin: 0; }
	.horizontal_list li
	{ display: inline; float: left; }
	
.one_third
{ width: 30%; float: left; margin-right: 1% }
.tomorrow_wrapper
{ width: 450px; float: left; margin-right: 1% }

.colored
{ color: #ff0071 }

.small
{ font-size: 10px; }

a.big_link_button
{ font-size: 14px; font-weight: bold; color: #ff0071; padding: 2px;}
a.big_link_button:hover
{ background-color: #ff0071; color: white; }

/* tasks */
.today_date
{ font-size: 10px; color: #a839b2; padding-right: 10px;}
.tomorrow_date
{ font-size: 10px; color: #ff0071; padding-left: 10px; }
.today_item_wrapper
{}
  .item_description
  { font-size: 11px; }
  .today_item_wrapper .item_name
  { font-weight: bold; padding: 20px 0 5px 0; }
  .today_item_wrapper .item_action_link
  { margin-left: 20px; }

  .tomorrow_item_wrapper .item_name
  { font-size: 18px; color: #ff0071; padding: 15px 0 5px 0; }
  .tomorrow_item_wrapper .item_action_link
  { margin-right: 20px; }
  

.item_action_link
{ font-size: 10px; border: 1px solid transparent; }
.item_action_link:hover
{ background-color: #FF0071; color: white; }

.page_title
{ font-size: 18px; margin-bottom: 20px; padding-bottom: 5px; border-bottom: 1px solid #EFEEEF; }

.form_label
{ float: left; width: 150px; font-weight: bold; text-align: right; padding-top: 10px; }
.form_field_wrapper
{ margin-left: 170px; }

#update_form .textbox
{ border: 1px solid transparent; background-color: #f4f4f4; width: 250px; padding: 5px; margin: 5px 0px; }

#ical_url
{ font-size: 14px; font-weight: bold; padding: 10px; background-color: #f4f4f4 }

.popup_wrapper
{ border: 1px solid #FF0071; background-color: white; padding: 5px; }