.floatClear:after { clear:both; content:"."; display:block; height:0pt; visibility:hidden; }

.fieldWithErrors
{ border: 1px solid red; }

a
{ text-decoration: none; color: #6f007f; }
a:hover
{ color: #0077A4; }

h1
{ font-size: 14px; font-weight: bold; }
h2.milestone_title
{ font-size: 14px; font-weight: bold; }
h3
{ font-size: 18px; }



/* Auto-Complete */
/* http://wiki.script.aculo.us/scriptaculous/show/Ajax.Autocompleter */
div.autocomplete 
{ position:absolute; width:250px; background-color:white; border:1px solid #888;margin:0px; padding:0px;}
div.autocomplete ul 
{ list-style-type:none; margin:0px; padding:0px; }
div.autocomplete ul li.selected 
{ background-color: #ffb;}
div.autocomplete ul li 
{ list-style-type:none; display:block;margin:0; padding:2px; height:32px; cursor:pointer; }

/* Ajax Control Style */ 
/* when an Ajax request from a checkbox errors out */
.ajax_error 
{ border: 2px solid red; background-color: red; color: red;}

/* Section */
.section_container
{ padding: 10px 10px; }
  .with_separator
  { border-bottom: 1px solid #d4d4d4 }
  .with_light_separator
  { border-bottom: 1px solid #eeeeee;}
  
  .section_content
  { padding: 0 0 0 10px; clear: both;}
  .section_title, .milestone_section_title
  { color: white; font-size: 14px; font-weight: bold; padding: 5px 0px 3px 5px; }
  .milestone_section_title a
  { text-decoration: none; color: white; }
  .milestone_section_title a:hover
  { color: #fffd39;}
  .section_title
  { background: url('../images/section_title_bg.gif') repeat-x top left; }
  .milestone_section_title
  {background: url('../images/milestone_section_title_bg.gif') repeat-x top left; }

.date_wrapper { margin-bottom: 20px; }
  .date_header_wrapper{}
    .date_header_day_of_week
    { font-size: 14px; font-weight: bold; }
    .date_header_date
    { font-size: 10px; padding: 3px; margin-left: 10px;}

    .weekend
    { background-color: #EFEFEF; }
    
    .today
    { background-color: white;}

/* List Page */
.list_container
{ margin-bottom: 25px; }
  .title
  { font-size: 18px; color: #B140C3; padding-bottom: 3px; }
  .list_description
  { font-size: 11px; padding-top: 5px; }
  .list_items
  { margin-top: 10px;}
    .list_item_container, .list_actions_container, .lists_no_item
    { margin-left: 15px; padding: 7px; }
    .list_actions_container .horizontal_list a, .list_actions_container .horizontal_list a:visited
    { display: block; padding: 5px 10px; border: 1px solid #EEEEEE; font-size: 12px; font-weight: bold; color: #535353; }
    .list_actions_container .horizontal_list a:hover
    { background-color: #EEEEEE;}
    


.zoom_icon
{ width: 11px; height: 11px; line-height: 11px; background: transparent url( '../images/icons/zoom.png' ) no-repeat top left; }

.p
{ padding-top: 10px; padding-bottom: 10px; }
  
#tomorrow_it
{ font-size: 43px; color: #FF0071;}  
#subtag
{ font-size: 18px;}

#login_form li
{ padding: 0 5px; }
  
.login_input
{ border: 0px; background-color: white; width: 80px; padding: 2px;  }

.big_label
{ font-size: 18px; color: #FF0071;}
.big_tag_line
{ font-size: 18px;}

#btnLogin:hover
{ background-color: #ff0071; }


.front_new_item
{  font-size: 18px; width: 630px;background-color: transparent; border: 0px; }

#signup_form_wrapper .textbox
{ border: 0px; background-color: #f4f4f4; width: 150px; padding: 5px; margin: 5px 0px; }

/* shared elements */
.horizontal_list
{ padding: 0; margin: 0; }
	.horizontal_list li
	{ display: inline; float: left; }
	
.one_third
{ width: 30%; float: left; margin-right: 1% }
.three_fifths
{ width: 60%; float: left; margin-right: 1% }

.colored
{ color: #ff0071 }

.small
{ font-size: 10px; }

/* tasks */
.today_date
{ font-size: 10px; color: #a839b2; padding-right: 10px;}
.tomorrow_date
{ font-size: 10px; color: #ff0071; padding-left: 10px; }
.today_item_wrapper
{}
  .today_item_wrapper .item_name
  { font-weight: bold; padding: 20px 0 5px 0; }
  .today_item_wrapper .item_action_link
  { margin-left: 20px; }

  .tomorrow_item_wrapper .item_name
  { font-size: 18px; color: #ff0071; padding: 10px 0 5px 0; }
  .tomorrow_item_wrapper .item_action_link
  { margin-right: 20px; }

.item_action_link
{ font-size: 10px; border: 1px solid transparent;  }
.item_action_link:hover
{ background-color: #FF0071; color: white; }

