<br style='clear:both'/>
<div id="footer_wrapper">
  <div style='float:left'>
    <span class='small colored'>@rev<%= $CURRENT_REVISION %>.  developed by <a href='http://alexle.net' target='_blank'>alex le</a> 2009.  
  </div>
    
  <div style='float:right'>
    <a href="/help" class='item_action_link small' >help?</a>
    <a href="/about" class='item_action_link small' style='margin-left: 30px;'>about</a>
  </div>  
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7062545-1");
pageTracker._trackPageview();
} catch(err) {}</script>